@using Omreznina.Components
@using Omreznina.Logic
@inject ViewModel ViewModel
<div class="d-flex flex-column  mt-3 justify-content-center align-items-center">

    <span>Net-Metering:</span>
    <InputCheckbox @bind-Value="ViewModel.CalculationOptions.NetMetering" />
    <NavigationButtonsComponent />
</div>