@using Omreznina.Components
@using Omreznina.Logic
@inject ViewModel ViewModel
<div class="d-flex flex-column mt-3 justify-content-center align-items-center">
    <h1>Sončna elektrarna</h1>
    <table cellpadding="3">
        <tr>
            <td align="right">
                <span>Ali imate sončno elektrarno:</span>
            </td>
            <td>
                <MultiValueRadioButtonComponent @bind-Value="ViewModel.CalculationOptions.SolarPowerPlant"
                                                Options="Omreznina.Client.Logic.CalculationOptions.SolarPowerPlantOptions" />
            </td>
        </tr>
        @if (ViewModel.CalculationOptions.SolarPowerPlant == "Imam")
        {
            <tr>
                <td align="right">
                    <Omreznina.Shared.Tooltip2 Text="Net-Metering:">Ali ste dobili soglasnje za sončno elektrarno pred 1.1.2024?</Omreznina.Shared.Tooltip2>
                </td>
                <td>
                    <YesNoRadioButtonComponent NoText="Nimam"
                                               YesText="Imam"
                                               @bind-Value="ViewModel.CalculationOptions.NetMetering" />
                </td>
            </tr>
        }
    </table>
    @if (ViewModel.CalculationOptions.SolarPowerPlant == "Želel bi izračun")
    {
        <span>Žal je simulacija za izračun nove sončne elektrarne še v razvoju.</span>
    }
    <NavigationButtonsComponent ValidateNextButton="ValidateSettings" />
</div>


@code {
    private bool ValidateSettings()
    {
        if (ViewModel.CalculationOptions.SolarPowerPlant == "Želel bi izračun")
        {
            return false;
        }
        return true;
    }
}
