@page "/"

<div class="container-fluid mt-5 text-center">
    <h1 class="text-center">Kalkulator omrežnine</h1>
    <h4>Razumite kako se obračuna omrežnina in znižajte si račun</h4>
    <p>Vsi podatki se obdelujejo v vašem brskalniku in ne gredo na server</p>
    <div class="d-flex justify-content-center">
        <a href="/Razlaga">
            <button class="btn btn-primary m-3">Razlaga sprememb</button>
        </a>
        <a href="/Kalkulator">
            <button class="btn btn-primary m-3">Odpri Kalkulator omrežnine</button>
        </a>
    </div>
</div>

@code {

}
