@page "/Navodila"

<h1>Navodila za uporabo Kalkulatorja</h1>

TODO

<div class="d-flex justify-content-center">
    <a href="/Kalkulator">
        <button class="btn btn-primary m-3">Odpri Kalkulator Omrežnine</button>
    </a>
</div>